*,
*::before,
*::after {
  box-sizing: border-box;
}

.App .credits {
  text-align: center;
  margin: 1em 0;
}

.App .credits a {
  color: #1ab2a8;
  text-decoration: none;
  font-weight: 700;
}

.App a:hover {
  color: #158982;
}
